@import "src/common/styles/colors.scss";

#contact {
  background-color: $main-red;
  padding: 40px 0;
}
.contact-content {
  padding-right: 15px;

  h2 {
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    margin: 20px 0;
  }
  .contact-form {
    margin-top: 20px;
    color: #fff;

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 10px;
        font: {
          size: 18px;
          weight: 400;
        }
      }
      .form-control {
        color: #fff;

        transition: var(--transition);
        border: 1px solid #f9f9f9;
        background-color: #f9f9f9;
        font-size: var(--fontSize);
        color: var(--blackColor);
        border-radius: 0;
        box-shadow: unset;
        height: 45px;
        width: 100%;
        padding: {
          left: 15px;
          right: 15px;
        }

        input {
        }
        &::placeholder {
          color: $main-gray;
          transition: var(--transition);
        }
        &:focus {
          border-color: var(--primaryColor);

          &::placeholder {
            color: transparent;
          }
        }
      }
      textarea.form-control {
        height: auto !important;
        padding-top: 15px;
      }
    }
    .form-check {
      color: var(--optionalColor);
      margin: {
        top: 5px;
        bottom: 20px;
      }
      a {
        color: var(--primaryColor);

        &:hover {
          text-decoration: underline;
        }
      }
      .form-check-label {
        cursor: pointer;
        margin-bottom: 0;
        font-weight: normal;
      }
      .form-check-input {
        cursor: pointer;
        margin-top: 2px;
        box-shadow: unset !important;

        &[type="checkbox"] {
          border-radius: 0px;
          border: 1px solid #fff;
          background-color: transparent;
          height: 14px;
          width: 14px;
          margin-top: 4px;
          margin-right: 10px;
        }
        &:checked {
          //   background-color: var(--primaryColor);
          //   border-color: var(--primaryColor);
        }
        &:focus {
        //   border-color: var(--primaryColor);
        }
      }
    }
  }
}
.contact-image {
  padding-left: 15px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .contact-content {
    padding-right: 0;

    h2 {
      margin-bottom: 4px;
      font-size: 30px;
    }
    .contact-form {
      margin-top: 15px;

      .form-group {
        margin-bottom: 15px;

        label {
          font-size: 16px;
        }
        .form-control {
          font-size: 14px;
          height: 50px;
        }
      }
      .form-check {
        margin-bottom: -3px;
      }
    }
  }
  .contact-image {
    padding-left: 0;
    margin-top: 30px;
  }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-content {
    padding-right: 0;

    h2 {
      font-size: 37px;
    }
    .contact-form {
      .form-group {
        label {
          font-size: 14px;
        }
        .form-control {
          font-size: 15px;
        }
      }
      .form-check {
        margin-bottom: -5px;
      }
    }
  }
  .contact-image {
    padding-left: 0;
    margin-top: 30px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contact-content {
    padding-right: 0;

    h2 {
      font-size: 40px;
    }
    .contact-form {
      .form-group {
        label {
          font-size: 15px;
        }
        .form-control {
          font-size: 15px;
          height: 50px;
        }
      }
    }
  }
  .contact-image {
    padding-left: 0;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {
}
