<article class="outer-container container-fluid">
    <section class="header row">
        <h1 class="p-0">Coming <br> Soon</h1>
        <div class="white-line"></div>
    </section>

    <section class="main-content container d-flex justify-content-center align-items-center flex-column">
        <img class="star-white" src="assets/coming-soon/star-white.png" alt="Start White">

        <div class="align-items-center d-flex identity-container justify-content-center">
            <img src="assets/coming-soon/brand-horizontal.png" alt="identity" srcset="">
        </div>

        <div class="email-form d-flex email-form justify-content-between">
            <input class="email" type="email" name="email" id="" placeholder="E-MAIL">
            <button class="notify-btn" type="button">NOTIFY-ME  <span> ></span></button>

            <div class="white-line-content"></div>
        </div>

        <div class="informative-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A delectus odio iste expedita dolores ab architecto! Consequuntur iste, .</p>
        </div>
    </section>

    <section class="footer container d-flex justtify-content-center align-items-center flex-column">
        <span class="date-text">2022</span>
    </section>

    <div class="star-red-container">
        <img class="star-red" src="assets/coming-soon/star-red.png" alt="Start Red">
    </div>
</article>