<div class="main-banner p-5">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="text-container d-flex align-items-center justify-content-center col-12 flex-column"
      >
        <h2 class="title m-0">Have a project in mind?</h2>
        <p class="sub-title">Let's get to work!</p>
      </div>

      <div class="btn-container d-flex justify-content-center">
        <button class="btn btn-red">Contact Us!</button>
      </div>

     <div class="star-red-container">
        <img class="star-red" src="assets/coming-soon/star-red.png" alt="Start Red">
    </div>
    </div>
  </div>
</div>
