<app-navbar></app-navbar>

<app-da-banner></app-da-banner>

<app-da-services></app-da-services>

<app-action-banner></app-action-banner>

<app-da-works></app-da-works>

<app-da-about></app-da-about>



<app-work-process></app-work-process>

<!-- <app-da-feedback></app-da-feedback> -->

<app-da-team></app-da-team>

<app-action-banner></app-action-banner>

<!-- <app-da-funfacts></app-da-funfacts>

<app-da-blog></app-da-blog> -->

<!-- <app-cta></app-cta>

<app-partner></app-partner> -->

<app-da-contact></app-da-contact>

<app-footer></app-footer>