<div id="services" class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Services</span> -->
            <h2>Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="row justify-content-center align-items-stretchs">
            <div class="col-lg-4 col-sm-6 flexible-card">
                <div class="service-card-one">
                    <div class="service-card-icon-container">
                        <img src="/assets/icons/icon-consultancy.png" alt="" srcset="">
                    </div>
                    <h3>Business Consultancy</h3>
                    <p class="service-description">Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 flexible-card">
                <div class="service-card-one">
                    <div class="service-card-icon-container">
                        <img src="/assets/icons/icon-web.png" alt="" srcset="">
                    </div>
                    <h3>Web Development</h3>
                    <p class="service-description">Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 flexible-card">
                <div class="service-card-one">
                    <div class="service-card-icon-container">
                        <img src="/assets/icons/icon-marketing.png" alt="" srcset="">
                    </div>
                    <h3>Digital Marketing</h3>
                    <p class="service-description">Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 flexible-card">
                <div class="service-card-one">
                    <div class="service-card-icon-container">
                        <img src="/assets/icons/icon-mobile.png" alt="" srcset="">
                    </div>
                    <h3>Mobile App Development</h3>
                    <p class="service-description">Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 flexible-card">
                <div class="service-card-one">
                    <div class="service-card-icon-container">
                        <img src="/assets/icons/icon-ecommerce.png" alt="" srcset="">
                    </div>
                    <h3>eCommerce Development</h3>
                    <p class="service-description">Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 flexible-card">
                <div class="service-card-one">
                    <div class="service-card-icon-container">
                        <img src="/assets/icons/icon-marketing.png" alt="" srcset="">
                    </div>
                    <h3>Marketing & Reporting</h3>
                    <p class="service-description">Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
        </div>
    </div>
</div>