<div id="team" class="team pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Our Awesome Team</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6 col-6">
        <div class="team-card text-center">
          <img src="/assets/team/jenffry.jpeg" alt="member-image" />
          <div class="team-caption">
            <h3>Jenffry</h3>
            <h4>Lead Designer</h4>
            <p>Locos del camino</p>
            <ul class="social-links">
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://dribbble.com/" target="_blank">
                  <i class="fa-brands fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <div class="team-card text-center">
          <img src="/assets/team/adriano.jpeg" alt="member-image" />
          <div class="team-caption">
            <h3>Adriano</h3>
            <h4>Consultant & Co-Founder</h4>
            <p>Locos del camino</p>
            <ul class="social-links">
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://dribbble.com/" target="_blank">
                  <i class="fa-brands fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-6">
        <div class="team-card text-center">
          <img src="/assets/team/yasma.jpeg" alt="member-image" />
          <div class="team-caption">
            <h3>Yasmany</h3>
            <h4>CTO & Co-Founder</h4>
            <p>Locos del camino</p>
            <ul class="social-links">
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://dribbble.com/" target="_blank">
                  <i class="fa-brands fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
