<div
  #portfolio
  id="portfolio"
  class="works-area pt-100 pb-70 bg-f9f9f9"
  data-aos="fade-zoom-in"
  data-aos-offset="200"
  data-aos-easing="ease-in-sine"
  data-aos-duration="600"
>
  >
  <div class="container">
    <div class="section-title">
      <h2>Our Recent Works</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="flexible col-lg-4 col-sm-6 col-md-6">
        <div class="border-red single-works-box bg1">
          <div class="content">
            <div class="card-header flexible">
              <span><a routerLink="/projects-details">Web Design</a></span>
              <h3 class="flexible">
                <a routerLink="/projects-details"
                  >Designing a the web of your dreams</a
                >
              </h3>
            </div>
            <div class="card-body flexible">
                <img src="/assets/portafolio/cards/crazy-chicken.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <div class="flexible col-lg-4 col-sm-6 col-md-6">
        <div class="border-red single-works-box bg2">
          <div class="content">
            <div class="card-header flexible">
              <span><a routerLink="/projects-details">Development</a></span>
              <h3 class="flexible">
                <a routerLink="/projects-details"
                  >Building design process within teams</a
                >
              </h3>
            </div>
            <div class="card-body flexible">
                <img src="/assets/portafolio/cards/crazy-chicken.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <div class="flexible col-lg-4 col-sm-6 col-md-6">
        <div class="border-red single-works-box bg3">
          <div class="content">
            <div class="card-header flexible">
              <span><a routerLink="/projects-details">Web Development</a></span>
              <h3 class="flexible">
                <a routerLink="/projects-details"
                  >How intercom brings play into their design process</a
                >
              </h3>
            </div>
            <div class="card-body flexible">
                <img src="/assets/portafolio/cards/crazy-chicken.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <div class="flexible col-lg-4 col-sm-6 col-md-6">
        <div class="border-red single-works-box bg4">
          <div class="content">
            <div class="card-header flexible">
              <span
                ><a routerLink="/projects-details">React Development</a></span
              >
              <h3 class="flexible">
                <a routerLink="/projects-details"
                  >Stuck with to-do list, I created a new app for myself</a
                >
              </h3>
            </div>
            <div class="card-body flexible">
                <img src="/assets/portafolio/cards/crazy-chicken.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <div class="flexible col-lg-4 col-sm-6 col-md-6">
        <div class="border-red single-works-box bg5">
          <div class="content">
            <div class="card-header flexible">
              <span
                ><a routerLink="/projects-details">Angular Development</a></span
              >
              <h3 class="flexible">
                <a routerLink="/projects-details"
                  >Examples of differen t types of sprints</a
                >
              </h3>
            </div>
            <div class="card-body flexible">
                <img src="/assets/portafolio/cards/crazy-chicken.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <div class="flexible col-lg-4 col-sm-6 col-md-6 app-dev">
        <div class="border-red single-works-box bg6">
          <div class="content">
            <div class="card-header flexible">
              <span><a routerLink="/projects-details">App Development</a></span>
              <h3 class="flexible">
                <a routerLink="/projects-details"
                  >Redesigning the New York times app</a
                >
              </h3>
            </div>
            <div class="card-body flexible scrollable">
                <img src="/assets/portafolio/cards/xebra.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
